name: Labels

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  team-labels:
    runs-on: ubuntu-slim
    steps:
      - name: Add team label
        uses: ./.github/actions/add-team-label
