name: Labels

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  team-labels:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/add-team-label
