name: Labels

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened

jobs:
  team-labels:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/add-team-label
